.formWrapper {
  max-width: 900px;
  margin: 50px auto;
  width: 80%;
  border: 1px solid #000;
  padding: 30px 20px;
  border-radius: 20px;
  background-color: #ffcead;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.formWrapper h3 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  color: #c449c2;
}

.formWrapper input {
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  border-radius: 15px;
  border: 2px solid #867ae9;
  margin-bottom: 20px;
}

.formWrapper input:focus {
  outline: none;
  border: 3px solid #c449c2;
}

.formWrapper button {
  display: block;
  margin-left: auto;
  width: 130px;
  height: 40px;
  font-size: 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  background-color: #867ae9;
  box-shadow: none;
  transition: box-shadow 1s;
}

.formWrapper button:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.todoList {
  list-style: none;
  max-width: 900px;
  width: 80%;
  margin: 0 auto;
}

.todoList li {
  width: 100%;
  min-height: 70px;
  height: auto;
  margin-bottom: 20px;
  background-color: #ffcead;
  border: 1px solid #000;
  border-radius: 20px;
  position: relative;
  display: flex;
  padding: 20px;
  padding-right: 40px;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.todoList li p {
  width: 90%;
  font-size: 24px;
}

.todoList li input {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.cancelIcon {
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  right: 10px;
  top: 10px;
}

.editIcon {
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  right: 10px;
  top: 40px;
}

.editingTodo form {
  width: 100%;
}

.editingTodo input {
  width: 80% !important;
  cursor: default !important;
  padding: 10px 15px !important;
  border-radius: 15px;
}

.editingTodo input:focus {
  outline: none;
}

.editingTodo button {
  width: 100px;
  background-color: green;
  color: #fff;
  margin-left: 10px;
}
